<!DOCTYPE html>
<html ng-app="blacapp" ng-controller="angIndex">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ renderVal.description }}" />
    <meta name="keywords" content="{{ renderVal.keywords }}" />
    <title>{% block title %} 页面标题 {% endblock %}</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <style>
      .bc-menulist {
        text-align:center;
        letter-spacing:2px;
      }
    </style>
  </head>
  <body>
    <br/>


  <div class="container">
    <div class="row">
      <img src="/static/img/logo.png" alt="logo">
      <div style="float:right; padding-top: 50px;" >
        <a href="/static/acadmin.html" > login </a>
      </div>
    </div>

    <div class="row" style="line-height:40px; height:40px;font-size: 12px;">
        <nav class="navbar navbar-default navbar-static-top nav-background " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for iNavMenu in navMenuList %}
              {% if iNavMenu.hasChild %}
                <li class="dropdown nav-item">
                  <a href="{{ iNavMenu.link }}" class="dropdown-toggle"  data-toggle="dropdown"> {{ iNavMenu.title }} <span class="caret"></span></a>
                  <ul class="dropdown-menu nav-menu-color" role="menu">
                    {% for iNavMenuSub in iNavMenu.childList %}
                      <li class="bc-menulist"><a href="{{ iNavMenuSub.link }}">{{ iNavMenuSub.title }} </a></li>
                    {% endfor %}
                </ul>
              </li>
              {% else %}
                <li class="nav-item"><a href="{{ iNavMenu.link }}">{{ iNavMenu.title }}</a></li>
              {% endif %}
            {% endfor %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div> <!-- nva -->

    <div class="max-width" style="margin-left: -15px;">
    {% block baseContent %}       {% endblock %}
    </div>

    <div class="row" >
      <footer class="footer-main">
          <div class="col-xs-4 col-xs-offset-4" style="text-align: center;">
            <ul> 网站备案号：{{ renderVal.webrecord }} </ul>

            <ul>  2015 </ul>

          </div>
      </footer>
    </div> <!-- row -->
  </div>

  </body>
</html>
<script src="/static/js/jquery11.js"></script>
<script src="/static/js/bootstrap.js"></script>

