{% extends "rendFrame.html" %}

{% block cornerContent %}

    <ol class="breadcrumb block-shadow">
      {% for iPos in renderVal.position %}
        <li><a href="{{ iPos.1 }}">{{ iPos.0 }}</a></li>
      {% endfor %}
    </ol>

    <table class="table table-hover block-shadow">
      <thead> <tr>
        <th style="width:60px;">#</th>
        <th style="width:auto;text-align: left;">标题</th>
        <th style="width:200px;">发布时间</th>
      </tr> </thead>

      <tbody>
        {% for iListItem in renderVal.contList %}
        <tr>
          <td scope="row">{{ forloop.counter }}</td>
          <td><a href ="?reqid={{ iListItem.id }}">{{ iListItem.title }}</a></td>
          <td>{{ iListItem.rectime }}</td>
        </tr>
        {% empty %}
          <tr><td></td><td><br/> 嘿！暂时没有数据，过段时间再来看看吧。 <p> &nbsp; </td></tr>
        {% endfor %}
      </tbody>
    </table>

    <div style="text-align: center;">
      <ul class="pagination block-shadow">
        <li><a href="?reqpg=1&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-fast-backward"></i></a></li>
        <li><a href="?reqpg={% if lPageNo > 1 %}{{ lPageNo|add:"-1" }}{% else %}1{% endif %}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        <li><a href="#">{{ lPageNo }}</a></li>
        <li><a href="?reqpg={% if lPageNo < lPageAll %}{{ lPageNo|add:"1" }}{% else %}{{ lPageAll }}{% endif %}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
        <li><a href="?reqpg={{ lPageAll }}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-fast-forward"></i></a></li>
      </ul>
    </div>


{% endblock %}