{% extends "rendFrame.html" %}
{% block cornerContent %}

    <ol class="breadcrumb block-shadow">
      {% for iPos in renderVal.position %}
        <li><a href="{{ iPos.1 }}">{{ iPos.0 }}</a></li>
      {% endfor %}
    </ol>


    <div class="block-border-all block-shadow" style="min-height:400px; width:100%;padding:20px;">
    {% for iListItem in renderVal.contList %}
        {% cycle '<div class="row">' '' '' %}
          <div class="col-xs-4  block-center" style="padding:5px;">
            <a href="#" class="thumbnail">
              <img src="{{ iListItem.imglink }}" alt="Generic placeholder thumbnail">
            </a>
            {{ iListItem.remark }}
            <br>

            <a href="{% if iListItem.link %} {{ iListItem.link }} {% else %}?reqid={{ iListItem.id }}{% endif %}" type="button" class="btn btn-primary btn-xs">
              <i class="glyphicon glyphicon-forward"></i> 详细信息
            </a>

          </div>
        {% cycle  '' ''  '</div>' %}
    {% empty %}
      <p><span> 嘿！暂时没有数据，过段时间再来看看吧。 </span></p> &nbsp;
    {% endfor %}
    </div>

    <div style="text-align: center;">
      <ul class="pagination block-shadow">
        <li><a href="?reqpg=1&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-fast-backward"></i></a></li>
        <li><a href="?reqpg={% if lPageNo > 1 %}{{ lPageNo|add:"-1" }}{% else %}1{% endif %}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        <li><a href="#">{{ lPageNo }}</a></li>
        <li {% if lPageNo == lPageAll %}class="disabled"{% endif %}><a href="?reqpg={% if lPageNo < lPageAll %}{{ lPageNo|add:"1" }}{% else %}{{ lPageAll }}{% endif %}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
        <li {% if lPageNo == lPageAll %}class="disabled"{% endif %}><a href="?reqpg={{ lPageAll }}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-fast-forward"></i></a></li>
      </ul>
    </div>



{% endblock %}
