{% extends "rendSec.html" %}
{% block cornerContent %}

    <ol class="breadcrumb block-shadow">
      {% for iPos in renderVal.position %}
        <li><a href="{{ iPos.1 }}">{{ iPos.0 }}</a></li>
      {% endfor %}
    </ol>


    <div class="block-shadow" style="padding-left:25px;padding-top:5px;">
    {% for iListItem in renderVal.contList %}
      <div class="blog-post block-bottom">
        <h4> <a href="{% if iListItem.link %} {{ iListItem.link }} {% else %}?reqid={{ iListItem.id }}{% endif %}" >{{ iListItem.title }} </a> </h4>
        <img src="{{ iListItem.imglink }}" class="img-list-left">
        <div class="post-meta">
          <i class="glyphicon glyphicon-time"></i>  {{ iListItem.rectime }}
          &nbsp;<i class="glyphicon glyphicon-camera"></i>  &nbsp;
        </div>
        <p> {{ iListItem.remark }}</p>
      </div>
    {% endfor %}
    </div>


    <div style="text-align: center;">
      <ul class="pagination block-shadow">
        <li><a href="?reqpg=1&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-fast-backward"></i></a></li>
        <li><a href="?reqpg={% if lPageNo > 1 %}{{ lPageNo|add:"-1" }}{% else %}1{% endif %}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        <li><a href="#">{{ lPageNo }}</a></li>
        <li><a href="?reqpg={% if lPageNo < lPageAll %}{{ lPageNo|add:"1" }}{% else %}{{ lPageAll }}{% endif %}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
        <li><a href="?reqpg={{ lPageAll }}&&reqpr={{ lPagePer }}"><i class="glyphicon glyphicon-fast-forward"></i></a></li>
      </ul>
    </div>


{% endblock %}
